[project]
	description = Convert csv exported Addressbook to vcf vCard compatible with eGroupwre 14.0
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nayobix
[access "refs/for/refs/*"]
	read = group user/nayobix
	push = group user/nayobix
	label-Code-Review = -2..+2 group user/nayobix
	label-Verified = -1..+1 group user/nayobix
	rebase = group user/nayobix
	removeReviewer = group user/nayobix
	submit = group user/nayobix
[access "refs/heads/*"]
	read = group user/nayobix
	create = group user/nayobix
	push = +force group user/nayobix
	pushMerge = group user/nayobix
[access "refs/tags/*"]
	push = +force group user/nayobix
	pushTag = group user/nayobix
	pushSignedTag = group user/nayobix
